<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Apollo</h5>
        <p class="grey-text text-lighten-4">
          “You have only one heart, so make sure that you give all your
          attention to its well-being.”
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact us</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="apollowatch@gmail.com"
              ><i class="material-icons prefix">email</i
              >apollowatch@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
