<div class="bg">
  <app-logo></app-logo>

  <div class="container">
    <p class="title">Who are we ?</p>

    <p>
      We give you Apollo!<br />
      Apollo is a smart watch that assures a continuous Supervision over your
      heart's behaviour.
    </p>
    <p class="title">Why Apollo ?</p>
    <div>
      <ul>
        <li>
          <i class="material-icons prefix">chevron_right </i>Detects any heart
          behavioural malfunctions
        </li>
        <li>
          <i class="material-icons prefix">chevron_right </i>Signals the
          malfunctions to your doctor
        </li>
        <li>
          <i class="material-icons prefix">chevron_right </i>Sents your location
          for urgent interventions
        </li>
        <li>
          <i class="material-icons prefix">chevron_right </i>Displays the ECG
          diagram
        </li>
      </ul>
    </div>
    <p class="title">Privacy Policy</p>
    <p>
      No one has, by any means, the right to access our client's information
      except the doctros (chosen by the client ), emergency contacts(chosen by
      the client) and the rescue units in case of a serious heart malfunction
      (optional).
    </p>
    <p class="title">Important Reamrks</p>
    <ul>
      <li>
        <i class="material-icons prefix">chevron_right </i>
        Wearing your watch in your left hand provides more accurate results
      </li>

      <li>
        <i class="material-icons prefix">chevron_right </i>Always provide your
        watch with internet connetion
      </li>
      <li>
        <i class="material-icons prefix">chevron_right </i>
        We recommend wearing the watch while sleeping as most cases of heart
        attacks happen while sleeping
      </li>
    </ul>
  </div>
  <br />
  <br />
  <app-footer></app-footer>
</div>
