<div class="bg">
  <app-logo></app-logo>

  <div class="container">
    <p class="title">Who are we ?</p>

    <p>
      We give you Apollo!<br />
      Apollo is a smart watch that assures a continuous Supervision over your
      heart's behaviour.
    </p>
    <p class="title">Why Apollo ?</p>
    <div>
      <ul>
        <li>Detects any heart behavioural malfunctions</li>
        <li>Signals the malfunctions to your doctor</li>
        <li>Sents your location for urgent interventions</li>
        <li>Displays the ECG diagram</li>
      </ul>
    </div>
  </div>
</div>
