.bg {
  background-image: url("src/assets/images/aboutus.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 80vh;
}

.container {
  margin-top: 70px;

  font-size: large;
  margin-left: 70px;
  padding-right: 300px;
}

.title {
  font-size: 1cm;
}
