<app-logo></app-logo>
<div class="profileContainer">
  <section class="half">
    <form
      class="login-form"
      [formGroup]="profileForm"
      (ngSubmit)="submitForm()"
    >
      <div class="row">
        <div class="input-field col s12">
          <input
            class="validate"
            id="first-name"
            type="text"
            formControlName="firstName"
          />
          <label for="first-name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            class="validate"
            id="last-name"
            type="text"
            formControlName="lastName"
          />
          <label for="last-name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" id="age" type="text" formControlName="age" />
          <label for="age">Age</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            class="validate"
            id="gender"
            type="text"
            formControlName="gender"
          />
          <label for="gender">Gender</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            class="validate"
            id="emergency"
            type="text"
            formControlName="emergencyNumber"
          />
          <label for="emergency">Emergency Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12" id="login">
          <button type="submit" class="btn waves-effect waves-light col s12">
            Login
          </button>
        </div>
      </div>
    </form>
  </section>
  <section class="secondHalf"></section>
</div>
