.brand-logo {
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 20px;
}

img {
  margin-top: 15px;
  padding-left: 40px;
}
.half {
  width: 50%;
  height: 150px;
  background-color: white;
}
.secondHalf {
  width: 50%;
  border: 1px solid black;
}
.profileContainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
