* {
  font-family: "Quicksand";
  font-size: 50px;
}
.bg {
  background-color: #888888;
  background-image: url("src/assets/images/bgimage.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 100vh;
}
* {
  font-family: "Quicksand";
  font-size: 50px;
}

.brand-logo {
  margin-left: 20px;
}

#nav-mobile li {
  font: 70px;
  font-weight: bold;
}

li a {
  text-align: center;
  padding-right: 50px;
  margin: 0;
  height: 100%;
  font-size: x-large;
  margin-top: 15px;
  background-color: transparent;
}

.brand-logo {
  font-size: larger;
  font-weight: bold;
  margin-top: 15px;
}

img {
  margin-top: 15px;
  margin-left: 15px;
}

p {
  font-size: 2cm;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 150px;
}
